/****http://www.science-bluesky.com ***REVISÃO = 20/06/2024 sexta-feira 15h41min0s***
	Formato CSS: Estilo_Blue.css - FONTES DO GOOGLE - Nazaré do Piauí / PI */

/****http://www.science-bluesky.com ***REVISÃO = 20/06/2024 sexta-feira 15h41min0s***
	Formato CSS: Estilo_Blue.css - body - Nazaré do Piauí / PI */

/****http://www.science-bluesky.com ***REVISÃO = 20/06/2024 sexta-feira 15h41min0s***
	Formato CSS: Estilo_Blue.css - header - Nazaré do Piauí / PI */
.social ul li{ display: inline-block;}
.menu ul li { display: inline-block;}
.logotipo { margin-left: 20%;}

/****http://www.science-bluesky.com ***REVISÃO = 20/06/2024 sexta-feira 15h41min0s***
	Formato CSS: Estilo_Blue.css - section - Nazaré do Piauí / PI */

/****http://www.science-bluesky.com ***REVISÃO = 20/06/2024 sexta-feira 15h41min0s***
	Formato CSS: Estilo_Blue.css - footer - Nazaré do Piauí / PI */